// COLORS
$orange: #8b0d0d;
$offWhite: #ffffff;
$black: #423d3d;
$green: #070d0b;

// FONTS
$poppins: 'Poppins', sans-serif;
$courgette: 'Courgette', cursive;
$raleway: 'Raleway', sans-serif;

// FONT SIZES
$desktopSmallText: 18px;
$tabletSmallText: 16px;
$mobileSmallText: 14px;
$desktopHeading: 32px;
$tabletHeading: 26px;
$mobileHeading: 20px;